.container {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 450px;
	display: flex;	
	padding: 0px;
	justify-content: center;
}

.grid-block {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.grid-col {
	flex: 1;
	border: 1px solid black;
}

.change-color {
	background-color: black;
}

.btn-container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	margin-top: 30px;
	margin-bottom: 30px;
}